  <h1 class="top_h1">Book this bus</h1>
  <hr>

  <%= simple_form_for bus_bookings_path do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Create" %>
  <% end %>
