<div class="banner">
  <div class="container">
    <h1>Wagonner's Party Bus all around the world!</h1>
      <%= link_to 'Book now!', new_user_session_path, id: "btn-banner", class: "btn btn-flat" %>
  </div>
</div>
