<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544620347-c4fd4a3d5957?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80);">
  <div class="container">
    <h1>Wagonner's Party Bus all around the world!</h1>
    <a class="btn btn-flat" href="#">Book now!</a>
  </div>
</div>
