<h1>Dashboard</h1>
<h2>Reservations for : <%= current_user.email %></h2>

<div class="show_all">
  <% @bookings.each do |b| %>
    <div class="card">
      <p>From: <%= b.start_date.strftime("%B %d, %Y") %></p>
      <p>To: <%= b.end_date.strftime("%B %d, %Y")  %></p>
    </div>
  <% end %>
</div>
