//--------index page cards----------//

.show_all{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  font-family: 'Righteous', cursive;
}

.card-trip {
  overflow: hidden;
  background: white;
  width: 310px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;


img {
  margin: 5px;
  height: 200px;
  width: 300px;
  object-fit: cover;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
  h3 {

  }
  &:hover {
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
}

//-------------show page card---------------//

.show_card{
  background: white;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;

  h2{
    background-color: rgba(0, 0, 0, 1);
    color: white;
  }

  img{
    border: 1px solid black;
    width: 200px;
    height: 200px;
  }

.button_slide {
  color: white;
  border-radius: 10%;
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  background: #f0134d;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ff5151;
  -webkit-transition: ease-out 2s;
  -moz-transition: ease-out 2s;
  transition: ease-out 2s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #ff5151;
  color: black;
}


#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
}


@media only screen and (max-width: 600px) {
  img {
    width: 150px;
  }
}

