.navbar-lewagon {
  justify-content: space-between;
  color: #EF524E;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-link{
  padding-top: 20px;
  color: #535052 !important;

}

.nav-email{
  padding-top: 20px;
}



